html,
body {
    height: 100%;
}

.hero {
    height: 100vh;
    background: url("img/ma porsche.jpg") center/cover no-repeat;
    position: relative;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    z-index: 1;
}

.hero .content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3.4rem;
    font-weight: 700;
}

.hero .content p {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    margin-top: -5px;
}

.navbar-custom {
    background: rgba(0, 0, 0, .9);
}