body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #000;
    margin-top: 50px;
}

nav a {
    display: inline-block;
    background-color: blanchedalmond;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    margin: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #ffcc80;
    color: #000;
}


.carte {
    background-color: white;
    width: min(1000px, 90%);
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: left;
    line-height: 1.7;
}

.carte p {
    margin: 15px 0;
    font-size: 1rem;
}

.carte a {
    color: #1976d2;
    text-decoration: none;
    font-weight: bold;
}

.carte a:hover {
    text-decoration: underline;
}

html,
body {
    min-height: 100vh;
}



form {
    background-color: white;
    width: min(600px, 90%);
    margin: 40px auto;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

input,
select,
textarea,
button {
    margin-top: 6px;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"],
input[type="color"],
input[type="range"] {
    width: auto;
}

button,
input[type="submit"] {
    background-color: #ffcc80;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover,
input[type="submit"]:hover {
    background-color: #ffa726;
}


a[href*="Sommaire"] {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}


html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-link {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #0d1b66;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.9;
    transition: 0.3s;
}

.back-link:hover {
    opacity: 1;
    background: #2739a0;
}